.info-aside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.chains-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
  border-bottom: 1px solid white;
  width: 100%;
}

.chains-title-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.flex-space-between {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.delot-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: content-box;
  border-bottom: 1px solid white;
  padding: 5px;
}

.delot-title {
  font-weight: 700;
  font-size: 28px;
  color: white;
  text-shadow: 0 0 20px #FF00A2;
}

.list-text {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.arrow-img {
  width: 24px;
  cursor: pointer;
}

.arrow-img-inverse {
  width: 24px;
  cursor: pointer;
  transform: rotate(180deg);
}
