.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.chains-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.networks-grid {
  display: grid;
  grid-template-columns: repeat(2, 455px) ;
  gap: 30px;
}

.chains-text {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.delots-text {
   color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.img-chains {
  width: 920px;
}
