.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chains-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.networks-grid {
  display: grid;
  grid-template-columns: repeat(2, 500px) ;
  gap: 30px;
}
