.network-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #646464;
  position: relative;
}

.network-item-container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  background: transparent;
  border-bottom: 2px solid #f6019d;
  border-right: 2px solid #f6019d;
}

.network-item-container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  bottom: 0;
  background: transparent;
  border-bottom: 2px solid #f6019d;
  border-left: 2px solid #f6019d;
}

.border-top-right {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  background: transparent;
  border-top: 2px solid #f6019d;
  border-right: 2px solid #f6019d;
}

.border-top-left {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  background: transparent;
  border-top: 2px solid #f6019d;
  border-left: 2px solid #f6019d;
}


.tickets-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  border-top: 1px solid #646464;
  border-bottom: 1px solid #646464;
}

.tickets-individual {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  box-sizing: border-box;
}

.bl {
  height: 100%;
  border-left: 1px solid #646464;
}
.tickets-available-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.go-to-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 5px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.network-name {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0 0 12px;
}

.arrow-img {
  width: 16px;
  height: 16px;
}

.jackpot-title {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.tickets {
  color: #f6019d;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}

.tickets-available-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.tickets-percentage {
  color: #6fe9c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
